PROJECT ROOT
{{ if .ProjectRoot }}yes{{ else }}no{{ end }}
REPOSITORY
-DATA
{{ .Repository.Data }}
MODULE
-PATH
{{ .Module.Path }}
-VERSION
{{ .Module.Version }}
-DEPRECATED
{{ .Module.Deprecated }}
-GOVERSION
{{ .Module.GoVersion }}
-TOOLCHAIN
{{ .Module.Toolchain }}
-DOCUMENTATION
{{ .Module.Documentation.Synopsis }}
~
{{ .Module.Documentation.Markdown 1 }}
PACKAGE
-NAME
{{ .Package.Name }}
-IMPORT
{{ .Package.Import }}
-DATA
{{ .Package.Data }}
-LIBRARY
{{ if .Package.Library }}yes{{ else }}no{{ end }}
-EXAMPLE
{{ range .Package.Examples -}}
{{ .Name }}
code
{{ .Code }}
output
{{ .Output }}
{{- end }}
-EXTERNAL EXAMPLE
{{ range .Package.ExternalExamples -}}
{{ .Name }}
code
{{ .Code }}
output
{{ .Output }}
{{- end }}
-DOCUMENTATION
{{ .Package.Documentation.Synopsis }}
~
{{ .Package.Documentation.Markdown 1 }}